{{define "title"}}Easy Menu{{end}}
{{define "content"}}
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6 mx-auto">
        <img src="/static/images/home-hero.png" class="d-block img-fluid" alt="Easy menu hero image" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3" style="color: var(--color-primary)">Easily create your business menu</h1>
        <p class="lead">With easy menu you can better server your clients with a custom digital menu. Create your account, add your menu items, generate a qr code and you are done.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/auth/register" class="btn btn-primary btn-lg px-4 me-md-2">Register</a>
          <a href="/auth/login" class="btn btn-outline-primary btn-lg px-4">Login</a>
        </div>
      </div>
    </div>
  </div>
{{end}}