{{ define "title" }}Log In{{ end }}

{{ define "content" }}
<div class="container-fluid d-flex justify-content-center">
  <form style="max-width: 450px" class="w-100 p-4 mt-5 shadow rounded content-block" method="post">
    {{/*  {{ include "components/flash_inline.html" }}  */}}
    <div class="form-floating mb-3">
      <input name="email" id="email" type="email" class="form-control" placeholder="">
      <label for="email">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input name="password" id="password" type="password" class="form-control" placeholder="">
      <label for="password">Password</label>
    </div>
    <a class="btn btn-outline-primary float-start" href="/register">Register</a>
    <button type="submit" class="btn btn-primary float-end">Login</button>
  </form> 
{{ end }}