html {
  --bg-default: var(--bs-gray-100);
  --bg-element: var(--bs-gray-200);
  --bg-fade: var(--bs-gray-300);
  --color-text: var(--bs-gray-800);
  --color-text-inverted: var(--bs-gray-100);
  --color-primary: #AA0029;
}

/* @media (prefers-color-scheme: dark) {
  html {
    --bg-default: var(--bs-gray-900);
    --bg-element: var(--bs-gray-800);
    --bg-fade: var(--bs-gray-700);
    --color-text: var(--bs-gray-300);
    --color-text-inverted: var(--bs-gray-900);
  }
} */

body {
  --bs-body-bg: var(--bg-default);
  color: var(--color-text)
}

.content-block {
  background: var(--bg-element);
}
 